{% extends 'layout.html'%}

{% block content %}

<div id="vue-app" class="vue-app">
  <div class="dropdown m-md-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" a ria-expanded="false">
      Add a Dashboard
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item" v-for="url_label in {{ dash_urls }}">
        <div class="row">
          <div class="col-md-9 pr-2 dash-label" @click="loadDashApp(url_label[0])">
            [[ url_label[1] ]]
          </div>
          <div class="col-md-2 pr-0" @click="loadHelp(url_label[1])">
            <i class="far fa-question-circle dash-label-help" ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <b-dropdown id="dropdown-1" text="Add a Dashboard" class="m-md-2">
    <b-dropdown-item v-for="url_label in {{ dash_urls }}" :key="url_label[0]" :value="url_label[1]">
      <div class="row">
        <div class="col-md-9 pr-0" @click="loadDashApp(url_label[0])">
          [[ url_label[1] ]]
        </div>
        <div class="col-md-2 pr-0">
          <i class="far fa-question-circle"></i>
        </div>
      </div>
    </b-dropdown-item>
  </b-dropdown> -->
  <!-- <button v-on:click="loadDashApp('/dash/wordtrend/')" class="btn btn-dark">Load Dash App</button> -->
  <!-- <div v-for="app in dashApps" v-html="app" class="col col-md-12">
      </div> -->
  <div class="dash-container container">
    <div class="row shadow-sm mb-2 bg-white rounded" v-if="dashApps.length == 0">
      <pre class="welcome-logo shadow-lg p-3 mb-5 bg-white rounded">
        <img src="{{ url_for('static' , filename='img/logo.png')}}">
          .<br>──────────▄▄▄▄▄▄▄▄▄──────────<br>───────▄█████████████▄───────<br>▐███▌─█████████████████─▐███▌<br>─████▄─▀███▄─────▄███▀─▄████─<br>─▐█████▄─▀███▄─▄███▀─▄█████▌─<br>──██▄▀███▄─▀█████▀─▄███▀▄██──<br>──▐█▀█▄▀███─▄─▀─▄─███▀▄█▀█▌──<br>───██▄▀█▄██─██▄██─██▄█▀▄██───<br>────▀██▄▀██─█████─██▀▄██▀────<br>───▄──▀████─█████─████▀──▄───<br>───██────────███────────██───<br>───██▄────▄█─███─█▄────▄██───<br>───████─▄███─███─███▄─████───<br>───████─████─███─████─████───<br>───████─████─███─████─████───<br>───████─████▄▄▄▄▄████─████───<br>───▀███─█████████████─███▀───<br>─────▀█─███─▄▄▄▄▄─███─█▀─────<br>────────▀█▌▐█████▌▐█▀────────<br>───────────███████───────────
      </pre>

    </div>
    <div class="row" v-for="app in dashApps" :key="app">
      <dash-app v-on:delete="deleteDashApp" v-bind:url="app" classname="embed-custom"></dash-app>
    </div>
  </div>
</div>

<div id="dash-app-staging"></div>

{% endblock %}
